.overlay{
	background:rgba(0,0,0,.6);
}
.single-portfolio .over{
	background:rgba(211,84,0,.5);
}
.blog-image .over{
	background:rgba(1,152,117,.6);
}

.profile-dec,.profile-dec h1 small,.button,.button:hover,.about-dec h2,.social-links li a:hover,.about-img h5,.re-icon .fa,.revarce .sec-head h2,
.revarce .re-info h3,.revarce  .single-resume:hover .re-icon .fa,.skillbar-title,.single-portfolio .over,.single-portfolio .over a,.testimonials,
.blog-image .over .fa,.clients-area,.footer-area,#st-trigger-effects button .fa,.st-menu ul li.current a,.portfolio-short .active,
.portfolio-short li:hover{
	color:#fff;
}
.sec-head h6{
	color:#818181;
}
.about-dec p,.social-links li a,.revarce .sec-head h6,.revarce .re-info .head .fa,.revarce .re-info .head h6,.revarce .re-info h4,.revarce .re-info p{
	color:#d7d7d7;
}
.about-dec h4,.about-dec h5{
	color:#282828;
}
.sec-head h2,.revarce .re-icon .fa,.revarce .single-resume:hover .head h3,.revarce .single-resume:hover .re-info .head .fa{
	color:#222;
}
.re-info h3,.re-info .head .fa,.single-blog h5{
	color:#327ea3;
}
.single-resume:hover .head h3,.single-resume:hover .re-info .head .fa{
	color:#f66152;
}
.portfolio-short li{
	color:#464646;
}
.single-sevices h5,.single-blog:hover h5{
	color:#019875;
}
.blog-meta li a{
	color:#777;
}
.st-menu h3{
	color:#444;
}
.st-menu ul li a{
	color:#747272;
}
.blog-meta li a .fa,.skill-chart .list li{
	color:#4c4c4c;
}
.single-resume:hover .head{
	border-color:#f66152;
}
.revarce .re-info .head{
	border-color:#fff;
}
.revarce  .single-resume:hover .re-info .head{
	border-color:#222;
}
.revarce .sec-head h2 span,.revarce .sec-head h2 span:after,.revarce .re-icon,.revarce .re-icon:after,.portfolio-short li,.st-menu,
.st-container.st-effect-1,.bx-wrapper .bx-pager.bx-default-pager a,.st-menu {
	background:#fff;
}
.sec-head h2 span,.sec-head h2 span:after,.skillbar {
	background:#444;
}
.revarce  .single-resume:hover .re-icon,.revarce  .single-resume:hover .re-icon:after{
	background: #222;
}
.vertical-line{
	background: #b6b6b6;
}
.re-icon{
	background: #317da3;
}
.single-resume:hover .re-icon,.single-resume:hover .re-icon:after{
	background:#f66152;
}
.blue,.re-icon:after{
	background:#327ea3;
}
.light-blue,.contact-form input[type="text"],.contact-form textarea{
	background:#1fa79e;
}
.green,li.current a{
	background:#6ca338;
}
.light-green,.single-blog:hover .button{
	background:#019875;
}
.orange,.portfolio-short .active,.portfolio-short li:hover{
	background:#d35400;
}
.light-orange{
	background:#ffbc38;
}
.magenta{
	background:#9b59b6;
}
.yellow{
	background:#d7af0d;
}
.red{
	background:#f66152;
}