@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body,h1,h2,h3,h4,h5,h6,p,a,ul{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-size:40px;
	font-weight:800;
}
h2{
	font-size:30px;
}
h3{
	font-size:24px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
p{
	font-size:14px;
	line-height:24px;
}
blockquote{
	font-size:15px;
	font-style:italic;
	line-height:25px;
}
