/*
1. Common CSS
2. Navigation
3. Home Area
4. About Area
5. Resume Area
6. Skills Area
7. Portfolio Area
8. Services Area
9. Testimonial Area
10. Blog Area
11. Clients Area
12. Contact Area
13. Footer Area
14. Coustom Media Query Css
*/


/* #####################  RESET CSS  ##################### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
img{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
a:focus {
	outline: 0;
	text-decoration: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration:none;
	/* -webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease; */
}
a:hover {
	text-decoration:none;
}
::selection{
	background:#282828;
	color:#fff;
}
::-moz-selection{
	background:#282828;
	color:#fff;
}

/*Common CSS*/

.no-padding{
	padding:0px;
}
.button{
	height:40px;
	line-height:40px;
	padding:0 15px;
	border-radius:2px;
	border:none;
	display:inline-block;
}
.sec-head{
	padding:85px 0 70px;
}
.sec-head h2{
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:23px;
	display:inline-block;
}
.sec-head h2 span{
	display:inline-block;
	position:relative;
	height:2px;
	width:70px;
	top:-10px;
}
.sec-head h2 span:after{
	position:absolute;
	height:16px;
	width:16px;
	border-radius:50%;
	content:"";
	top:-7px;
}
.sec-head h2 span:first-child:after{
	left:-10px;
}
.sec-head h2 span:last-child:after{
	right:-10px;
}
.sec-head h2 span:first-child{
	left:-18px;
}
.sec-head h2 span:last-child{
	right:-18px;
}

/*Navigation*/

#st-trigger-effects{}
#st-trigger-effects button{
	height:40px;
	width:40px;
	margin-left: 20px;
	margin-top: 20px;
	border:none;
	background:none;
}
#st-trigger-effects button .fa {
	font-size: 30px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.st-container{
	z-index:99;
}
.st-container.st-effect-1{
	height: 100%;
}
.st-menu {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	width: 225px;
	z-index: 100;
	-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}
.st-menu h3{
	text-transform:uppercase;
	border-bottom:1px solid #ebe9e9;
	font-weight:700;
	padding:40px 0;
	text-align:center;
}
.st-menu ul{}
.st-menu ul li{}
.st-menu ul li a .fa{
	margin-right:10px;
}
.st-menu ul li a{
	display:block;
	height:55px;
	line-height:55px;
	text-transform:uppercase;
	border-bottom:1px solid #ebe9e9;
	padding-left:35px;
}
/*Home Area*/

.home-area{
	background: url(../images/home-bg.jpg);
	background-size:cover;
}
.home-area .overlay{
	padding:250px 0;
}
.profile-dec{}
.name{
	padding-bottom:16px;
	margin-bottom:20px;
	border-bottom:1px solid #fff;
}
.profile-dec h1{
	text-transform:uppercase;
	display:inline-block;
	padding-right:20px;
	border-right:2px solid #fff;
	line-height:39px;
}
.profile-dec small{
	font-size:18px;
	line-height:21px;
	font-weight:400;
	font-style:italic;
	text-transform:capitalize;
	display:inline-block;
	width:180px;
	padding-left:15px;
}
.profile-dec p{
	padding-bottom:18px;
}

/*About Area*/

.about-area{
	padding-top:90px;
}
.about-img {
	margin-bottom:90px;
}
.about-img img{
	width:100%;
}
.about-img h5{
	padding:24px 0;
}
.vertical-line{
	margin:0 auto;
	width: 1px;
	height: 410px;
	background: #b6b6b6;
	-moz-box-shadow: 0 1px 33px rgba(0,0,0,.67);
	-webkit-box-shadow: 0 1px 33px rgba(0,0,0,.67);
	box-shadow: 0 1px 33px rgba(0,0,0,.67);
}
.about-dec{
	margin-bottom:65px;
}
.about-dec h2{
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:12px;
}
.about-dec h4{
	margin-bottom:28px;
}
.about-dec h5{
	font-weight:700;
	margin-bottom:32px;
}
.about-dec p{
	margin-bottom:25px;
}
.social-links{}
.social-links li{
	display:inline-block;
	padding:0 10px;
}
.social-links li a{
	display:inline-block;
}
.social-links li a .fa{
	font-size:20px;
}


/*Resume Area*/

.resume-area{
	padding-bottom:75px;
}
.resumes{
	overflow:hidden;
}
.single-resume{
	padding-bottom:80px;
}
.single-resume:last-child{
	padding-bottom:10px;
}
.re-icon{
	width: 114px;
	height: 86px;
	margin:0 auto;
	border-radius: 3px;
	position:relative;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.re-icon:after{
	position:absolute;
	content:"";
	height:200px;
	width:2px;
	top:100%;
	left:50%;
	margin-left:-1px;
}
.re-icon .fa{
	line-height:86px;
	font-size:36px;
}
.re-info .head {
	border-bottom:1px solid #327ea3;
	padding-bottom:17px;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.re-info .head h3{
	font-weight:700;
	text-transform:uppercase;
	float:left;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.re-info .head h6{
	float:right;
	margin-top:4px;
}
.re-info .head .fa{
	margin-right:8px;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.re-info h4{
	margin:20px 0;
}


/*Skills Area*/

.skillbar-area{
	padding-bottom:69px;
}
.skills-area h4{
	font-weight:700;
	display:inline-block;
	text-transform:uppercase;
	padding-bottom:20px;
	margin-bottom:30px;
	padding-right:25px;
	border-bottom:1px solid #444;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:21px;
	width:100%;
	height:28px;
	border-radius:2px;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-size:12px;
	z-index:5;
}

.skillbar-title span {
	display:block;
	padding:0 7px;
	height:28px;
	line-height:28px
}

.skillbar-bar {
	height:28px;
	width:0px;
	background:#6adcfa;
	position:relative;
	border-radius:2px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:28px;
	line-height:28px;
	color:#ffffff;
}

.skill-chart{
	padding-bottom:69px;
}
.skill-chart .list li{
	line-height:35px;
	font-size:14px;
}
.skill-chart .list li span{
	display:inline-block;
	height:16px;
	width:16px;
	margin-right:12px;
}

/*Portfolio Area*/
.portfolio-area{
	padding-bottom:90px;
}
.portfolio-short{
	margin-bottom:50px;
}
.portfolio-short li{
	display:inline-block;
	height:40px;
	line-height:40px;
	padding:0 20px;
	margin:0 7px;
	border-radius:3px;
	cursor:pointer;
}
.single-portfolio{
	position:relative;
	overflow:hidden;
}
.single-portfolio img{
	width:100%;
}
.single-portfolio .over{
	position:absolute;
	top:0;
	left:0;
	padding:10px;
	height:100%;
	width:100%;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.single-portfolio:hover .over{
	opacity:1;
	left:0;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

.single-portfolio .over .over-in{
	border:1px solid rgba(255,255,255,0);
	height:100%;
	width:100%;
	-webkit-transition:all .5s ease 0.5s;
	-moz-transition:all .5s ease 0.5s;
	transition:all .5s ease 0.5s;
}
.single-portfolio:hover .over .over-in{
	border:1px solid rgba(255,255,255,1);
}
.single-portfolio .over .fa{
	font-size:36px;
	padding:40px 0;
	opacity:0;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	-webkit-transition:all .5s ease 0.5s;
	-moz-transition:all .5s ease 0.5s;
	transition:all .5s ease 0.5s;
}
.single-portfolio:hover .over .fa{
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.single-portfolio .over h5{
	font-weight:700;
	margin-bottom:16px;
	text-transform:uppercase;
	-webkit-transform:scale(0) rotate(320deg);
	-moz-transform:scale(0) rotate(320deg);
	-ms-transform:scale(0) rotate(320deg);
	-o-transform:scale(0) rotate(320deg);
	transform:scale(0) rotate(320deg);
	opacity:0;
	-webkit-transition:all .5s ease 0.5s;
	-moz-transition:all .5s ease 0.5s;
	transition:all .5s ease 0.5s;
}
.single-portfolio:hover .over h5{
	-webkit-transform:scale(1) rotate(360deg);
	-moz-transform:scale(1) rotate(360deg);
	-ms-transform:scale(1) rotate(360deg);
	-o-transform:scale(1) rotate(360deg);
	transform:scale(1) rotate(360deg);
	opacity:1;
}
.single-portfolio .over ul{
	-webkit-transform:scale(5);
	-moz-transform:scale(5);
	-ms-transform:scale(5);
	-o-transform:scale(5);
	transform:scale(5);
	opacity:0;
	-webkit-transition:all .5s ease 0.5s;
	-moz-transition:all .5s ease 0.5s;
	transition:all .5s ease 0.5s;
}
.single-portfolio:hover .over ul{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	opacity:1;
}
.single-portfolio .over li{
	display:inline-block;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
}
.mix{
	display: none;
}

/*Services Area*/
.services-area{
	padding-bottom:90px;
}
.single-sevices{
	margin-bottom:50px;
}
.single-sevices .icon{
	font-size:64px;
}
.single-sevices h5{
	font-weight:700;
	text-transform:uppercase;
	margin-top:30px;
	margin-bottom:25px;
}

/*Testimonial Area*/

.testimonial-area{
	padding-bottom:90px;
}
.single-testimonials{}
.single-testimonials .fa{
	font-size:48px;
	margin-bottom:32px;
}
.single-testimonials blockquote{
	margin-bottom:16px;
}
.bx-wrapper .bx-pager {
	padding-top: 35px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	opacity:.5;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	opacity:1;
}

/*Blog Area*/

.single-blog{
	margin-bottom:90px;
}
.blog-image{
	position:relative;
}
.blog-image img{
	width:100%;
}
.blog-image .over{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	text-align:center;
	opacity:0;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.single-blog:hover .over{
	opacity:1;
}
.blog-image .over .fa{
	position:relative;
	font-size:36px;
	top:50%;
	left:0;
	height:60px;
	line-height:60px;
	width:90px;
	margin-top:-30px;
	border:1px solid #fff;
}
.blog-meta{
	padding:22px 0 15px;
	margin-bottom:21px;
	border-bottom: 1px solid #777;
}
.blog-meta li{
	display:inline;
	padding:0 24px;
	border-left:1px solid #777;
}
.blog-meta li:first-child{
	padding-left:0px;
	border:none;
}
.blog-meta li a .fa{
	margin-right:6px;
}
.single-blog h5{
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:16px;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.single-blog p{
	margin-bottom:14px;
}
.single-blog a{
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}

/*Clients Area*/

.al-sec-head{
	padding:85px 0 0;
}
.al-sec-head h2{
	font-weight:700;
	text-transform:uppercase;
	display:inline-block;
	padding-right:20px;
	border-bottom:1px solid #fff;
	padding-bottom:16px;
	margin-bottom:17px;
	
}
.al-sec-head span{
	font-size:18px;
	line-height:26px;
	display:block;
}
.clients{
	padding:85px 0 40px;
}
.single-clients{
	padding-bottom:30px;
}

/*Contact Area*/

.contact-form{
	margin-bottom:90px;
}
.contact-form input[type="text"]{
	height:48x;
	line-height:48px;
	width:100%;
	border:none;
	border-radius:2px;
	color:#fff;
	margin-bottom:30px;
	padding-left:20px;
}
.contact-form textarea{
	height:130x;
	line-height:48px;
	width:100%;
	border:none;
	border-radius:2px;
	color:#fff;
	margin-bottom:30px;
	padding-left:20px;
	resize:none;
}
.contact-form span{
	line-height:40px;
	font-style:italic;
	display:block;
}
#map-canvas{
	height:400px;
	width:100%;
}

/*Footer Area*/

.footer-area{
	padding:28px 0;
}

/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) {
	.profile-area {
		text-align: center;
	}
	.re-icon{
		margin-bottom:30px;
	}
	.re-icon:after{
		display:none;
	}
	.re-info .head h6{
		float:none;
	}
	.portfolio-short li {
		display: block;
		margin: 10px 20px;
	}
	.blog-meta li {
	  font-size: 10px;
	  padding: 0 10px;
	}
	.sec-head h2{
		font-size:24px;
	}
	.sec-head h2 span{
		width:30px;
	}
}
